body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #fff5ee;
    border: 2px solid #000;  /* Adding a border around the entire webpage */
    padding: 20px;  /* Adding some padding inside the border */
    max-width: 800px;  /* Limiting the maximum width for narrower sides */
    margin: 20px auto;  /* Centering the content horizontally */
}


h1, h2, h3 {
    color: #333;
}

.contact-info, .section {
    margin-bottom: 20px;
}

.contact-info p, .section p {
    margin: 5px 0;
}

.section {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.section-title {
    display: inline-block;  /* Make the element only as wide as its content */

    border: 1px solid #000;  /* Adding a smaller border around the text */
    text-align: center;  /* Centering the text within the element */
    margin-left: 2px;
    padding: 10px;  /* Adding some padding inside the border */
    background-color: #afc2b5;  /* Adding background color inside the border */
}




ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
